/*---------------------Global---------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*---------------------Canvas---------------------*/
#dino-game {
    background-color: #ffffff;
    border: 2px solid #767575;
}